[Service]
WorkingDirectory=/home/crypto/crypto-watch
ExecStart=/home/crypto/crypto-watch/crypto-watch
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=yesod-sample

[Install]
WantedBy=multi-user.target