[Service]
ExecStart=/usr/share/crypto-watch/crypto-watch
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=crypto-watch

[Install]
WantedBy=multi-user.target